DB_POSTGRESQL_URL=
DB_USERNAME=
DB_PASSWORD=

DB_MONGO_URL=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

CLOUDINARY_URL=

FRONTEND_URL=

RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev

JWT_SECRET=EQEQ4oW1RBmrkg2bE6s2G9Sd5jhFrp0SbYb5Y7h8xvRNayReGN
JWT_EXPIRATION=86400